.body {
  background-color: $light-gray;
  padding: 35px;
  font-family: 'Questrial', sans-serif;
  max-width: 1500px;
  margin: auto;

  .title {
    font-family: 'Source Serif Pro', serif;
  }

  .select-prompt {
    margin-bottom: 0;
    margin-top: 35px;
  }

  .mattress-details {

    .align-left {
      float: left;
      font-weight: bolder;
    }

    .align-right {
      float: right;
    }

    .clear {
      clear: both;
    }
  }

  @media screen and (max-width: 767px) {
    .detail-btn {
      display: none;
    }
  }

  @media screen and (min-width: 767px) {
    .body-btn {
      display: none;
    }
  }
}